USE [instituto_db]
GO
/****** Objeto: StoredProcedure [dbo].[SP_IngresoCursadaPrimero] Fecha de script: 30/06/2026 08:53:43 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Created by GitHub Copilot in SSMS - review carefully before executing

ALTER PROCEDURE [dbo].[SP_IngresoCursadaPrimero]
(
    @AnioLectivoId INT,
    @CarreraId INT
)
AS
BEGIN

-- Tabla para almacenar la cantidad de cursos por carrera
CREATE TABLE #CursosTotales
(
    CarreraId INT,
    Cursos INT
);

-- Tabla que contiene los cursos
CREATE TABLE #CursosPrimero
(
    CarreraId INT,
    CursoId INT,
    Curso VARCHAR(10),
    Codigo INT
);

-- Tabla que contiene los alumnos no inicializados
CREATE TABLE #AlumnosNoInicializados
(
    Codigo INT,
    AlumnoCarreraId INT,
    CarreraId INT
);

-- Tabla para almacenar los alumnos que ya están inscriptos
CREATE TABLE #AlumnosInscriptos
(
    AlumnoCarreraId INT
);

-- Cantidad de cursos de primer año de la carrera seleccionada
INSERT INTO #CursosTotales
SELECT
    ac.CarreraId,
    COUNT(c.CursoId) AS Cursos
FROM Cursos c
INNER JOIN AniosCarreras ac
    ON c.AnioCarreraId = ac.AnioCarreraId
    AND ac.AnioCarrera = 1
WHERE ac.CarreraId = @CarreraId
GROUP BY ac.CarreraId;

-- Cursos de primer año
INSERT INTO #CursosPrimero
SELECT
    ac.CarreraId,
    c.CursoId,
    c.NombreCurso,
    IIF(
        ROW_NUMBER() OVER(ORDER BY c.CursoId) % ct.Cursos = 0,
        ct.Cursos,
        ROW_NUMBER() OVER(ORDER BY c.CursoId) % ct.Cursos
    ) AS Codigo
FROM Cursos c
INNER JOIN AniosCarreras ac
    ON c.AnioCarreraId = ac.AnioCarreraId
    AND ac.AnioCarrera = 1
INNER JOIN #CursosTotales ct
    ON ac.CarreraId = ct.CarreraId
WHERE ac.CarreraId = @CarreraId;

-- Alumnos no inicializados de la carrera seleccionada
INSERT INTO #AlumnosNoInicializados
SELECT
    IIF(
        ROW_NUMBER() OVER(ORDER BY alc.AlumnoCarreraId) % ct.Cursos = 0,
        ct.Cursos,
        ROW_NUMBER() OVER(ORDER BY alc.AlumnoCarreraId) % ct.Cursos
    ) AS Codigo,
    alc.AlumnoCarreraId,
    alc.CarreraId
FROM AlumnosCarreras alc
INNER JOIN #CursosTotales ct
    ON alc.CarreraId = ct.CarreraId
WHERE alc.Inicializado = 2
AND alc.CarreraId = @CarreraId;

-- Alumnos ya inscriptos
INSERT INTO #AlumnosInscriptos
SELECT DISTINCT car.AlumnoCarreraId
FROM CursadaAlumnoCarreras car
INNER JOIN #AlumnosNoInicializados ani
    ON car.AlumnoCarreraId = ani.AlumnoCarreraId;

-- Distribución de alumnos
INSERT INTO CursadaAlumnoCarreras
(
    AlumnoCarreraId,
    CursadaId,
    AnioCicloLectivo,
    Estado,
    HorasCursadas,
    UltimoPresentismo,
    PorcentajeAsistencia,
    Cursada,
    Activo
)
SELECT
    ani.AlumnoCarreraId,
    curs.CursadaId,
    @AnioLectivoId,
    'CU',
    0,
    NULL,
    0,
    NULL,
    1
FROM #AlumnosNoInicializados ani
INNER JOIN Carreras c
    ON ani.CarreraId = c.CarreraId
INNER JOIN AniosCarreras anc
    ON c.CarreraId = anc.CarreraId
    AND anc.AnioCarrera = 1
INNER JOIN #CursosPrimero cp
    ON ani.Codigo = cp.Codigo
    AND ani.CarreraId = cp.CarreraId
INNER JOIN CursoMaterias cuma
    ON cp.CursoId = cuma.CursoId
INNER JOIN Cursadas curs
    ON cuma.CursoMateriaId = curs.CursoMateriaId
    AND curs.AnioLectivo = @AnioLectivoId
WHERE ani.AlumnoCarreraId NOT IN
(
    SELECT AlumnoCarreraId
    FROM #AlumnosInscriptos
);

-- Marcar como inicializados
UPDATE AlumnosCarreras
SET Inicializado = 3
WHERE AlumnoCarreraId IN
(
    SELECT AlumnoCarreraId
    FROM #AlumnosNoInicializados
);

DROP TABLE #AlumnosNoInicializados;
DROP TABLE #AlumnosInscriptos;
DROP TABLE #CursosPrimero;
DROP TABLE #CursosTotales;

END