.vs/
bin/
obj/
packages/
.~lock*
/docs/images/variables-de-entorno/image-1.png
/docs/images/variables-de-entorno/image-2.png
/docs/images/variables-de-entorno/image.png
/docs/requerimiento-5/I.S.F.D. y T. N° 93_ Inscripción a Carreras 2021 (respuestas).xlsx
/docs/requerimiento-5/PP_requerimiento#5_20260330_Dario_Ceballos.pdf
/docs/requerimiento-5/Requerimiento 5 - Carga masiva.docx
/docs/tarea-1/PP_tarea-1#_20260412_Ceballos_Dario.pdf
/docs/tarea-1/PP_tarea-1#_20260412_Lopez_Melany.pdf
/docs/tarea-1/PP_tarea-1#_20260412_Magali_Torres.pdf
/docs/tarea-1/PP_tarea-1#_20260412_Valdez_Eliana.pdf
/docs/requerimiento-5/I.S.F.D. y T. N° 93_ Inscripción a Carreras 2021 (solo 1).xlsx
/docs/tarea-1/PP_tarea-1#_20260412_Sarmiento_Alejo.pdf
